.genitore p{
    font-style: italic;
    font-weight: bold;
}

.genitore > p {/*agisce solo sui p figli diretti*/
    color: red;
}

/*esempio elementi adiacenti*/

.gancio + code{
    color: blue
}

/*esempio elementi successivi*/
#gancio2 ~ p{
    text-shadow: 1px 1px 1px #000;
}

